@import "../../style/variables.scss";

.search {
    background: red;
    position: sticky;
    top: 30px;
    margin-top: 30px;
    width: 425px;
    height: auto;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    padding: 25px;
    border-radius: 10px;
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 18px;
    }
    &__title {
        color: #000000;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    // &__label {
    // }
    &__input {
        width: 250px;
        height: 38px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
    }
    &__error {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #9f0013;
    }
    &__done {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #03710e;
    }
    // &__button {
    //     width: 101px;
    //     height: 38px;
    // }
}
